/* Mobile view */
@media (max-width: 600px) {
  .projects-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vh;
  }

  .project-image {
    width: 320px;
    height: 360px;
  }
}

@media (min-width: 600px) {
}
