.projects-info {
  width: 100%;
}

.project-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 40px;
  color: black;
  font-size: x-large;
  font-weight: 800;
  border-bottom: 4px solid darkgray;
  margin-bottom: 0.5em;
}

.project-image {
  width: 320px;
  height: 360px;
}

.links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 320px;
  height: 40px;
  border-top: 4px solid darkgray;
  margin-top: 0.5em;
}

.links a {
  color: black;
  text-decoration: none;
  font-size: larger;
  font-weight: 700;
}

.content-container {
  position: relative;
  z-index: 1;
  width: 320px;
  height: 360px;
}

.desc {
  position: absolute;
  top: 0;
  z-index: 2;
  width: 320px;
  height: 360px;
  background-color: rgba(0, 0, 0, 0.89);
  color: white;
}

/* Mobile view */
@media (max-width: 600px) {
  .projects-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Roboto Mono";
  }

  .project-container {
    margin: 20px;
  }
}

/* Desktop view */
@media (min-width: 600px) {
  .projects-page {
    display: flex;
    justify-content: space-around;
    font-family: "Roboto Mono";
    width: 100%;
  }

  .project-container {
    margin: 3em;
  }
}
