main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  background: rgb(245, 245, 245);
  background: linear-gradient(
    180deg,
    rgba(245, 245, 245, 1) 60%,
    rgba(245, 230, 230, 1) 95%
  );
}

/* @media (max-width: 600px) {
  main {
  }
} */
