.about {
  font-family: "Roboto Mono";
  display: flex;
  justify-content: space-between;
  margin: 1em;
  width: 100%;
}

.about-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;

  width: 50vw;
}

.about-info div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.profile-pic {
  width: 360px;
  border-radius: 45%;
}

@media (max-width: 600px) {
  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-info {
    width: 100%;
    margin-bottom: 1em;
  }

  .profile-pic {
    width: 290px;
  }
}
