/* .home {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
} */

.home-and-img {
  margin-top: 1em;
  display: flex;
}

/* .home h1 {
  font-family: "Roboto Mono";
  font-weight: 100;
  font-size: 3rem;
  margin: 0;
} */

.home-greeting-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

img {
  height: 360px;
}

@media (max-width: 600px) {
  h1 {
    display: flex;
    font-family: "Roboto Mono";
    font-weight: 400;
    font-size: 2rem;
    margin: 0;
  }

  .home h3 {
    font-family: "Roboto Mono";
    font-size: large;
    font-weight: 200;
    margin: 0;
  }

  .name-role {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 3em;
    margin-top: 1em;
  }

  .home-greeting-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    margin-left: 3em;
    margin-bottom: 1em;
  }

  span {
    font-family: "Roboto Mono";
    font-size: small;
  }

  .profile-pic {
    display: none;
  }

  .home {
    display: flex;
    height: 70vh;
  }
}
