.header-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 4px solid darkgray;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #f5f5f5;
  font-size: large;
}

.home-icon-container {
  display: flex;
  align-items: center;
}

.home-icon {
  display: flex;
  justify-content: center;
  font-size: larger;
  margin: 5px;
  width: 60px;
  cursor: pointer;
  font-weight: 700;
  border: 2px solid black;
  border-radius: 5px;
  /* border-bottom: 10px solid #93e5ab; */
}

.home-icon:hover {
  background-color: orange;
  transition: background-color 1s ease-out;
}

.nav-link-container {
  display: flex;
  justify-content: space-evenly;
  width: 50vw;
}

.nav-link {
  display: flex;
  justify-content: center;
  margin: 5px;
  width: 60px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border-bottom: 1px solid black;
  font-weight: 700;
}

.nav-link-resume {
  display: flex;
  justify-content: center;
  margin: 5px;
  width: 60px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  font-weight: 700;
  border: 1px solid black;
  border-radius: 5px;
}

.nav-link-resume a {
  text-decoration: none;
  color: black;
}

.nav-link-resume:hover {
  background-color: orange;
  transition: background-color 1s ease-out;
}

.nav-link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  left: 0;
  background: linear-gradient(to right, #8dba9b, #8dba9b);
  transition: width 1s ease;
}

.nav-link:hover::before {
  width: 100%;
}
