footer {
  position: relative;
  border-top: 4px solid darkgray;
  display: flex;
  justify-content: center;
  height: 5vw;
  padding-top: 1.3em;
}

.link-container {
  display: flex;
  justify-content: space-evenly;
  width: 50vw;
  height: 5vw;
}

/* footer img:hover {
  background-color: orange;
  transition: background-color 1s ease-out;
} */

@media (max-width: 599px) {
  footer img {
    height: 5vw;
  }
}

@media (min-width: 600px) {
  footer img {
    height: 3vw;
  }
}
