/* Mobile view */
@media (max-width: 600px) {
  footer {
    /* border: 10px solid #93e5ab; */
    margin: 0;
    position: relative;
    background-color: darkgray;
    display: flex;
    justify-content: center;
  }

  footer img {
    height: 5vw;
  }

  .link-container {
    display: flex;
    justify-content: space-evenly;
    width: 320px;
    background-color: darkgray;
  }
}
footer img:hover {
  background-color: orange;
  transition: background-color 1s ease-out;
}

@media (min-width: 600px) {
  footer img {
    height: 5vw;
  }
}
